.cell-default {
	padding-left: 1mm;
	padding-right: 1mm;
	/* padding-top: 1mm; */
	/* padding-bottom: 1mm; */
	/* vertical-align: top; */
	/* height: 7mm; */
}


.cell-header {
	background-color: rgb(56, 56, 56);
	color: #fff;;
	border-bottom: 1px solid #666;
	padding: 0;
	height: 10mm;
	text-align: center;
}


.cell-footer {
	padding-left: 1mm;
	padding-right: 1mm;
	/* padding-top: 2mm;
	padding-bottom: 2mm; */
	border-top: 1px solid rgb(129, 129, 129);
	border-bottom: 1px solid rgb(129, 129, 129);
	background-color: rgb(165, 165, 165);
	font-weight: bold;
}


.report-title {
	font-weight: bold;
	font-size: 12pt;
}

.page-descr {
	font-size: 7pt; 
	font-style: italic;
}

.page-paging {
	font-size: 7pt; 
}


.footerstatusbox {
	height: 100px;
	vertical-align: top;
	padding-top: 20px;
}